:root {
  /* COLORS styles */
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-dairy: #fcfcfc;
  --white-color: #fff;

  /* Fonts styles */
  --primary-font: "Roboto";
  --secondary-font: "Raleway";
}

body {
  font-family: var(--primary-font), Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--color-navy-blue);
}

/* Base */

.list {
  list-style: none;
}


.headlines {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.items-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.small-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: var(--color-slate);
}

/* WAREHOSE */

/* Header section */
.link {
  color: var(--color-navy-blue);
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.link-address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-slate);
}

.logo-weight {
  font-weight: 800;
}
.logo-link {
  font-family: var(--secondary-font);
  color: var(--iris-color);
}
.hed-link-active:hover,
.hed-link-active:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
}

/* hero section*/

.hero {
  background-color: var(--color-navy-blue);
}

.hero-headline {
  color: var(--white-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  text-align: center;
}

.hero-btn {
  color: var(--white-color);
  background-color: var(--iris-color);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
}

/* Skills section */

/* Doings section */

/* Team section */

/* Footer block */

.link-footer {
  color: var(--color-cloud);
  text-decoration: none;
  font-style: normal;
}
.footer-text {
  color: var(--color-cloud);
}
.footer-color {
  background-color: var(--color-navy-blue);
}

/* Portfolio buttons row section */
.btn-row {
  color: var(--iris-color);
  background-color: var(--color-cornflower);
  border-style: none;
}
.btn-row-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn-row:hover,
.btn-row:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
}

/* Done projects */
